* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: orangered;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.calculator {
  background-color: black;
  padding: 30px;
  border-radius: 10px;
  box-shadow: -0.3px -0.3px 2px aquamarine, 0.3px 0.3px 2px aquamarine;
}

form .display {
  display: inline-flexbox;
  text-align: right;
  width: 20px 0;
  box-shadow: -0.1px -0.1px 2px orangered, 0.1px 0.1px 2px orangered;
}

form .display input {
  flex: 1;
  text-align: right;
  box-shadow: none;
  font-size: 45px;
}

.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  margin: 10px;
}

form input.turcolor {
  color: orangered;
  box-shadow: -0.1px -0.1px 2px orangered, 0.1px 0.1px 2px orangered;
}

form input.ancolor {
  background-color: orangered;
  border-radius: 30px;
}

form input:hover {
  color: orangered;
  transition: 0.9s;
}

form input.ancolor:hover {
  color: black;
}
